<div class="cv-container">
    <h1>Curriculum Vitae</h1>

    <section class="personal-info">
        <h2>Información Personal</h2>
        <p><strong>Nombre:</strong> Asbel Jair Salanic López</p>
        <p><strong>Dirección:</strong> 2da. Calle "A" 2-17 Zona 16</p>
        <p><strong>Teléfono:</strong> (502) 5816-1409</p>
        <p><strong>Email:</strong> asalanicl </p>
    </section>

    <section class="work-experience">
        <h2>Experiencia Laboral</h2>
        <div class="job">
            <h3>Desarrollador Frontend</h3>
            <p><strong>Empresa:</strong> Tech Solutions</p>
            <p><strong>Período:</strong> Enero 2020 - Actualidad</p>
            <p><strong>Responsabilidades:</strong></p>
            <ul>
                <li>Desarrollo y mantenimiento de aplicaciones web usando Angular.</li>
                <li>Colaboración con diseñadores y backend developers para mejorar la experiencia de usuario.</li>